language: node_js
node_js:
  - node
services:
  - neo4j
dist: trusty
sudo: false
notifications:
  email:
    on_success: change
    on_failure: always
install:
  - npm ci
before_deploy:
  - npm run build-client
  - rm -rf node_modules
branches:
  only:
    - master
deploy:
  skip_cleanup: true
  provider: heroku
  app: and-the-winner-is
  api_key:
    secure: "vtrFIwRf8OvEln06LPxnNtRWoEkzNI8t4fW1IIQDXLmnj0x0wJzVSZxjmWXTrvnVvZOxhAz+vQ/B/46jBWdh9tI+dgRaVjgJmPo4AWweRwWYYQq26vYL5k0ORvdZ+/NgGufceTjCMw3L+dFGNZlJRAo9D9HkprG62ZtEEg9M42HldPbVAhA9j16YNcFjDWR/JDLnlCGAJ4dCw0SBJijKTm0v8CF2HSR9VznQcvChvbEShr9XSGCydlLXMfLBme+ERrfIjsbiw7JrcgqtDgXUL0y1w1da0VAr5rhm+SmwkJOBlGRaop3guTlfoqc+CDXXaBzxF4IYW1VlVzzHZV0Kg4HIa9SGFIL+JzZDqEsmqgndXXjNAOCX9bTFz48+KFDsv+ICyGlU1kvUuz6bHjhQ5dLSHQr5uPYOT+hjyZiw2Fz9LhZz4ASFxkx0jrQ1iJcvhkkPTXObGkRtDvt6iU5VlikS7ETq6pJqhdCTXsDSAz8yw0pizudaggzqOE0CkQZUEVXW0MVKRgS5pxBIQqRZx3p2FBnHyzQyoSA/Y7woJwVQw4WBzlDEkwC+t4YbDuEZyEEyM5+c6PLWK9YApitOrUHCF9FuFNgYiAIJaft1FIMTjG6Zkg9UdcaVS5WF5nZAvmzw74FNsh2IkUcfG+9G+ZuunNbKkno/eQ7VAtqXSQs="
